<div class="form-check">
    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" [(ngModel)]="jenisBensin" [value]=1>
    <label class="btn btn-primary" for="option1">Pertalite</label>

    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" [(ngModel)]="jenisBensin" [value]=2>
    <label class="btn btn-secondary" for="option2">Pertamax</label>

    <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" [(ngModel)]="jenisBensin" [value]=3>
    <label class="btn btn-success" for="option3">Solar</label>

    <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off" [(ngModel)]="jenisBensin" [value]=4>
    <label class="btn btn-danger" for="option4">Pertamax Plus</label>
  </div>

<h1>Bensin yang dipilih: 
    <ng-container [ngSwitch]="jenisBensin">
        <ng-container *ngSwitchCase="1">Pertalite</ng-container>
        <ng-container *ngSwitchCase="2">Pertamax</ng-container>
        <ng-container *ngSwitchCase="3">Solar</ng-container>
        <ng-container *ngSwitchCase="4">Pertamax Plus</ng-container>
        <ng-container *ngSwitchDefault>Default</ng-container>
    </ng-container>
</h1>
<h2>Harga: 
    <ng-container [ngSwitch]="jenisBensin">
        <ng-container *ngSwitchCase="1">1000</ng-container>
        <ng-container *ngSwitchCase="2">2000</ng-container>
        <ng-container *ngSwitchCase="3">3000</ng-container>
        <ng-container *ngSwitchCase="4">4000</ng-container>
        <ng-container *ngSwitchDefault>Default</ng-container>
    </ng-container>
</h2>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Jumlah Liter</label>
    <input type="email" class="form-control" [(ngModel)]="jumlahBensin" id="exampleFormControlInput1" placeholder="">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Jumlah Bayar</label>
    <input type="email" class="form-control" [(ngModel)]="jumlahBayar"  id="exampleFormControlInput1" placeholder="">
</div>

<button type="button" class="btn btn-success" (click)="doClick()">Hitung</button>

<h2>Harga yang harus dibayar: {{ hargaTotal }}</h2>
<div [ngClass]="testClass">
    <h2 >Kembalian: {{ kembalian }} </h2>
</div>

{{ status }}
