<table class="table">
    <thead>
        <tr>
          <th>username</th>
          <th>role</th>
          <th>name</th>
          <th>birthdate</th>
          <th>gender</th>
        </tr>
      </thead>
      <!-- <tbody>
        <ng-container *ngFor="let usr of user">
          <tr>
            <td>{{ usr.username }}</td>
            <td>{{ usr.role }}</td>
            <td>{{ usr.name }}</td>
            <td>{{ usr.birthdate }}</td>
            <td>{{ usr.gender }}</td>
          </tr>
        </ng-container>
    </tbody>    -->
</table>

<!-- <ng-container *ngFor="let user of users">
    <p>{{ user.id }} - {{ user.name }}</p>
  </ng-container> -->