<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="primary">
  <div class="alert alert-primary col-md-4">
    <h1 class="text-alert">Hello World</h1> 

    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="showData" [value]="true">
        <label class="form-check-label" for="flexRadioDefault1">
          showData == true
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" [(ngModel)]="showData" [value]="false" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          showData == false
        </label>
      </div>

    <ng-container *ngIf="showData === true; else kesini">
        <h3>{{ name }}</h3>
        <h3>{{ age }}</h3>
        <h3>{{ status }}</h3>
    </ng-container>

    <ng-template #kesini>
        <p>Halaman tidak ditampilkan</p>
    </ng-template>

    <ng-container [ngSwitch]="nomor">
        <ng-container *ngSwitchCase="1">1</ng-container>
        <ng-container *ngSwitchCase="2">2</ng-container>
        <ng-container *ngSwitchCase="3">3</ng-container>
        <ng-container *ngSwitchDefault>Default</ng-container>
    </ng-container>
    <!-- <app-card title="cobatitle" name="cobanama" [age]="211" [status]="true" (dataCallBack)="onCallBack($event)"></app-card>
    <app-card [title]="person2.title" [name]="person2.name" [age]="person2.age" [status]="person2.status" (dataCallBack)="onCallBack($event)"></app-card> -->

    <ng-container *ngFor="let data of personList">
      <app-card [title]="data.title" [name]="data.name" [age]="data.age" [status]="data.status" (dataCallBack)="onCallBack($event)"></app-card>
    </ng-container>
  </div>
</body>
</html>