<div class="container">
    <h1>Generate</h1>
    <form>
        <div class="form-group">
            <label for="clientId">Client ID</label>
            <input type="text" class="form-control" id="clientId" placeholder="Client ID">
        </div>
        <div class="form-group">
            <label for="timestamp">Timestamp</label>
            <input type="text" class="form-control" id="timestamp" placeholder="Timestamp">
            <small id="timestamp" class="form-text text-muted">Example: 2023-06-02T13:20:19+07:00</small>
        </div>
        <div class="form-group">
            <label for="privateKey">Private Key</label>
            <input type="text" class="form-control" id="privateKey" placeholder="Private Key">
        </div>
        <button type="submit" class="btn btn-primary">Generate Signature Auth</button>
        <div class="form-group">
            <label for="generatedSignatureAuth">Generated Signature Auth</label>
            <input type="text" class="form-control" id="generatedSignatureAuth" placeholder="Generated Signature Auth">
        </div>
      </form>
</div>