<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
    <div class="login-main-text">
        <h2>Application<br> Login Page</h2>
        <p>Login or register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
    <div class="login-form">
        <form action="" [formGroup]="formLogin" (ngSubmit)="doLogin()">
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" formControlName="username" name="username" placeholder="User Name" [ngClass]="errorControl['username'].valid ? 'is-valid' : (errorControl['username'].dirty || errorControl['username'].touched) ? 'is-invalid' : ''">
                <ng-container *ngIf="(errorControl['username'].dirty || errorControl['username'].touched) && errorControl['username'].errors">
                    <div *ngIf="errorControl['username'].errors['required']" class="text-danger">Please enter your username.</div>
                  </ng-container>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password" name="password" placeholder="Password" [ngClass]="errorControl['password'].valid ? 'is-valid' : (errorControl['password'].dirty || errorControl['password'].touched) ? 'is-invalid' : ''" >
                <ng-container *ngIf="(errorControl['password'].dirty || errorControl['password'].touched) && errorControl['password'].errors">
                    <div *ngIf="errorControl['password'].errors['password']" class="text-danger">Please enter your password.</div>
                  </ng-container>
            </div>
            <button type="submit" class="btn btn-black" [disabled]="!formLogin.valid">Login</button>
            <button type="submit" class="btn btn-secondary">Register</button>
        </form>
    </div>
    </div>
</div>