<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
    <div class="login-main-text">
        <h2>Application<br> Register Page</h2>
        <p>Register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
    <div class="login-form">
        <form [formGroup]="formRegister" (ngSubmit)="doRegister()">
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" placeholder="User Name" formControlName="username" name="username">
            </div>
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control" placeholder="Full Name" formControlName="name" name="name">
            </div>
            <div class="form-group">
                <label>Birth Date</label>
                <input type="date" class="form-control" placeholder="Birthdate" formControlName="birthdate" name="birthdate">
            </div>
            <div class="form-group">
                <label>Profile Photo</label>
                <input type="file" class="form-control" placeholder="Birthdate" formControlName="birthdate" name="birthdate">
            </div>
            <div class="form-group">
                <label>Gender</label>
                <input type="text" class="form-control" placeholder="Gender" formControlName="gender" name="gender">
                <!-- <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="admin">
                    <label class="form-check-label" for="admin">
                        Pria
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="promotor">
                    <label class="form-check-label" for="promotor">
                        Wanita
                    </label>
                </div> -->
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" formControlName="password" name="password">
            </div>
            <div class="form-group">
                <label>Password Confirmation</label>
                <input type="password" class="form-control" placeholder="Type Password Again" formControlName="c_password" name="password_confirm">
                <ng-container *ngIf="(!confirmPassword)">
                    <div>Password Different.</div>
                  </ng-container>
            </div>
            <button type="submit" class="btn btn-black" [disabled]="!formRegister.valid || !confirmPassword">Register</button>
        </form>
    </div>
    </div>
</div>